<div class="page-layout blank p-24" fusePerfectScrollbar>

    <div class="content_body">
        <div class="contact_image">
            <img src="https://i.pravatar.cc/170?img={{contactDetails.id}}" alt="">
        </div>
        <div class="contact_details">
            <div class="contact_details_line">
                <h1 class="contact_details_line_label">{{'CONTACT.Name' | translate}} </h1>
                <h1 class="contact_details_line_value">{{contactDetails.name}}</h1>
            </div>
            <div class="contact_details_line">
                <h1 class="contact_details_line_label">{{'CONTACT.Phone' | translate}} </h1>
                <h1 class="contact_details_line_value">{{contactDetails.phone}}</h1>
            </div>
            <div class="contact_details_line">
                <h1 class="contact_details_line_label">{{'CONTACT.Email' | translate}} </h1>
                <h1 class="contact_details_line_value">{{contactDetails.email}}</h1>
            </div>
        </div>
    </div>